#!/usr/bin/env python

import os
import json
import subprocess
import re


# Regex string:
REGEX = 'Certificate Name: ([0-9a-zA-Z\-\.]*)\\n\s*Domains: ([0-9a-zA-Z\-\.\,]*)\\n\s*Expiry Date: ([0-9\-\+\: ]+)\+00:00\s*\(VALID: ([0-9]{1,2}) days\)\\n\s*Certificate Path: (/[0-9a-zA-Z\/\.\-]+)\\n\s*Private Key Path: (/[0-9a-zA-Z\/\.\-]+)\\n'


def certificate_info():
    """Return LetsEncrypt certificate info as a dict"""
    certificates = {}
    try:
        certbot = subprocess.check_output(['sudo', 'certbot', 'certificates'])
    except subprocess.CalledProcessError as e:
        #print 'ERROR: ' + str(e)
        return {}
    regex = re.compile(REGEX)
    certbot = regex.findall(certbot)
    for cert in certbot:
        name = cert[0]
        certificates[name] = {}
        certificates[name]['domains'] = cert[1].split(',')
        certificates[name]['expiry_date'] = cert[2]
        certificates[name]['valid_days'] = int(cert[3])
        certificates[name]['cert_path'] = cert[4]
        certificates[name]['key_path'] = cert[5]
    return certificates


def main():
    """Main function"""
    facts = {}
    facts['certificates'] = certificate_info()
    print json.dumps(facts)


if __name__ == "__main__":
    main()
