ssl_certificate {{ ansible_local['letsencrypt']['certificates'][letsencrypt_domain_name]['cert_path'] }};
ssl_certificate_key {{ ansible_local['letsencrypt']['certificates'][letsencrypt_domain_name]['key_path'] }};
