#!/bin/bash


# Variables

CERT_INSTALLED=$(if [ -d /etc/letsencrypt/live/{{ snipeit_domain_name }} ]; then echo 'True'; else echo 'False'; fi)

CONFIG_INSTALLED=$(if [ -f /etc/letsencrypt/options-ssl-nginx.conf ]]; then echo 'True'; else echo 'False'; fi)

SITES_AVAILABLE=$(
    if [[ -d /etc/letsencrypt/live/{{ snipeit_domain_name }} && -f /etc/letsencrypt/options-ssl-nginx.conf ]];
    then
        echo 'ssl.';
    else
        echo '';
    fi
)


# Facts

echo [letsencrypt]
echo cert_installed=$(echo "$CERT_INSTALLED")
echo config_installed=$(echo "$CONFIG_INSTALLED")

echo [ssl]
echo sites_available=$(echo "$SITES_AVAILABLE")