#!/bin/bash


# Variables

APP_KEY=$( if [ -e /root/.snipeit_app_key ]; then echo $(sed -n -e 's/^.*\[\(base64.*\)\].*/\1/p' /root/.snipeit_app_key); else echo ''; fi)

CERT_INSTALLED=$(if [ -d /etc/letsencrypt/live/{{ snipeit_domain_name }} ]; then echo 'True'; else echo 'False'; fi)

CONFIG_INSTALLED=$(if [ -f /etc/nginx/snippets/ssl-nginx-params.conf ]]; then echo 'True'; else echo 'False'; fi)

SSL=$(
    if [[ -d /etc/letsencrypt/live/{{ snipeit_domain_name }} && -f /etc/nginx/snippets/ssl-nginx-params.conf ]];
    then
        echo 'https';
    else
        echo 'http';
    fi
)


# Facts

echo [app]
echo key=$(echo "$APP_KEY")

echo [letsencrypt]
echo cert_installed=$(echo "$CERT_INSTALLED")
echo config_installed=$(echo "$CONFIG_INSTALLED")

echo [security]
echo ssl=$(echo "$SSL")