<?php if ( ! defined( 'KISS' ) ) exit;

$conf['index_page'] = 'index.php?';
$conf['sitename'] = '{{ munkireport_site_name }}';
$conf['allow_migrations'] = FALSE;
$conf['debug'] = TRUE;
$conf['timezone'] = @date_default_timezone_get({{ time_zone }}); //your time zone see http://php.net/manual/en/timezones.php
$conf['vnc_link'] = "vnc://%s:5900";
$conf['ssh_link'] = "ssh://{{ mac_local_admin_username }}@%s";
ini_set('session.cookie_lifetime', 43200);
$conf['locale'] = 'en_US';
$conf['lang'] = 'en';
$conf['keep_previous_displays'] = TRUE;

$conf['modules'] = array({{ munkireport_modules }});

$conf['client_passphrases'] = array({{ munkireport_client_passphrases }});

/*
|===============================================
| Authorized Users of Munki Report
|===============================================
| Visit http://yourserver.example.com/report/index.php?/auth/generate to generate additional local values
*/
{{ munkireport_credentials }}

/*
|===============================================
| PDO Datasource
|===============================================
*/
$conf['pdo_dsn'] = 'mysql:host=localhost;dbname=munkireport';
$conf['pdo_user'] = 'mysql_munkireport_user';
$conf['pdo_pass'] = '{{ mysql_munkireport_password }}';
$conf['pdo_opts'] = array(PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8');
