#!/bin/bash


# Variables

CERT_INSTALLED=$(if [ -d /etc/letsencrypt/live/{{ munkireport_domain_name }} ]; then echo 'True'; else echo 'False'; fi)

CONFIG_INSTALLED=$(if [ -f /etc/letsencrypt/options-ssl-nginx.conf ]]; then echo 'True'; else echo 'False'; fi)

SSL=$(
    if [[ -d /etc/letsencrypt/live/{{ munkireport_domain_name }} && -f /etc/letsencrypt/options-ssl-nginx.conf ]];
    then
        echo 'https';
    else
        echo 'http';
    fi
)


# Facts

echo [letsencrypt]
echo cert_installed=$(echo "$CERT_INSTALLED")
echo config_installed=$(echo "$CONFIG_INSTALLED")

echo [security]
echo ssl=$(echo "$SSL")